<!DOCTYPE html>
<html>
<head>
    <title>Django-HTML URL Updater+</title>
    <script type="text/javascript" src="/eel.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <nav>
            <div class="row header-inner">
                <div class="col-3 logo-box">
                    <img src="../img/logo.png" alt="" class="logo">
                </div>
                <div class="col-5">
                    <div class="menu">
                        <li class="active"><a href="main.html" >Home</a></li>
                        <li><a href="about.html">About</a></li>
                    </div>
                </div>
                <div class="col-4">
                    <div class="socials">
                        <img src="../img/icons/facebook.png" alt="" class="social-icon">
                        <img src="../img/icons/linkedin.png" alt="" class="social-icon">
                        <img src="../img/icons/social.png" alt="" class="social-icon">
                        <img src="../img/icons/telegram.png" alt="" class="social-icon">
                    </div>
                </div>

            </div>

        </nav>
    </header>

    <div class="container-fluid">
        <div class="text-center">
            <h4>Django-HTML Image URL Updater+</h4>
        </div>
        <div class="row main-row">
            <div class="col-4">
                <label for="html-file">Select HTML File For Edit Urls:</label>
                <button class="btn btn-primary" type="button" onclick="getPathToFile()">Select File</button>
                <small id="subStrHelp" class="form-text text-muted">Select an html file, to edit urls</small>
            </div>
            <div class="col-4 form-group">
                <label for="substring-to-remove">Substring to Remove from src:</label>
                <input class="subStr-del-input" type="text" id="substring-to-remove" placeholder="assets/img/" aria-describedby="subStrHelp">
                <small id="subStrHelp" class="form-text text-muted">Input a pattern of the string to remove</small>
            </div>
            <div class="col-4 form-group">
                <label for="images-folder">Images Folder in your static Django-app:</label>
                <input type="text" class='subStr-del-input' id="images-folder" placeholder="auto/img/">
                <small id="subStrHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

            </div>
            <div class="col-12">
                <div class="main-btn">
                    <button class="btn btn-primary" onclick="updateImages()">Update Images</button>
    
                </div>
            </div>

        </div>
    </div>
   

    <script>
        function getPathToFile() {
            eel.pythonFunction()(r => htmlPath = r);
        };
        function updateImages() {
            var htmlFile = htmlPath
            var substringToRemove = document.getElementById("substring-to-remove").value;
            var imagesFolder = document.getElementById("images-folder").value;
            eel.update_img_src(htmlFile, substringToRemove, imagesFolder);
        }
    </script>
</body>
</html>
